<div class="container">
  <div class="sidebar">
    <ehtc-pilot *ngIf="pin" pin="{{ pin }}" class="fchg small"></ehtc-pilot>
    <button mat-raised-button color="primary">TIE</button>
    <button mat-raised-button color="accent">Battle Center</button>
    <button mat-raised-button color="warn">Settings</button>
    <button mat-raised-button color="warn">Playlist</button>
    <mat-form-field *ngIf="!pin">
      <input
        matInput
        type="number"
        placeholder="Enter your pin"
        [(ngModel)]="pin"
      />
    </mat-form-field>
    <mat-list>
      <a
        mat-list-item
        href="#"
        *ngFor="let battle of spam"
        (click)="loadBattle(battle, $event)"
        >TIE/{{ battle }}</a
      >
    </mat-list>
  </div>
  <div class="main">
    <ehtc-battle *ngIf="battle" [battle]="battle"></ehtc-battle>
  </div>
</div>
